<% content_for :title do %>Premonition.io<% end %>
<div class="gridster">
  <ul>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
           <div data-id="iframeId1" data-view="Traffic" data-src="http://localhost:8000/test.html"data-title="Support Tickets" style="background-color:#3fa9f5"></div>
   </li>
   <li data-row="1" data-col="1" data-sizex="1" data-sizey="2">
          <div data-id="iframeId1" data-view="Support" data-src="http://needs.tech/preminition/numberoftickets.html" data-title="Support Tickets" style="background-color:#12b0c5"></div>
  </li>

  <li data-row="1" data-col="1" data-sizex="1" data-sizey="2">
         <div data-id="iframeId1" data-view="Support" data-src="http://needs.tech/preminition/numberoftickets.html" data-title="Support Tickets" style="background-color:#12b0c5"></div>
  </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
          <div data-id="iframeId1" data-view="Read" data-src="http://localhost:8000/displat_tickets.html"  data-title="Displaying Support Tickets" style="background-color:#dc5945"></div>
   </li>



 </ul>

 </div>
